* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 900;
}
body {
  background: black;
}
header {
  background: url(../img/ajax.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Major Mono Display", monospace;
  text-align: center;
  align-items: center;
  color: #ffffff;
  padding: 2%;
}
.title {
  font-weight: 900;
}
input[type="text"] {
  text-align: center;
  align-items: center;
  font-family: "Solway", serif;
  color: #303030;
  height: 30px;
  outline: none;
  border-color: #303030;
  margin: 0.6em 8em 0.6em 0em;
  font-size: 14px;

  transition-duration: 0.2s;
  transition-timing-function: ease-in;

  margin-top: 14px;
  background: #eee;
  border: 2px solid #303030bb;
  border-radius: 0.2px;
}
/* input[type="submit"] {
} */
.SearchTextbox {
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
main {
  background: url(../img/background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 3% 0 3% 0;
}
article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2% 3% 2% 3%;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9em;
  padding: 10%;
  text-align: center;
  color: whitesmoke;
  margin-bottom: 2em;
}
article img {
  width: 125px;
  margin: 1em;
}
article h1 {
  font-family: "Solway", serif;
  font-weight: 200;
  margin-top: 2em;
  padding: 0.5em;
  color: #eee;
  font-size: 1.4em;
}
article p {
  font-family: "Solway", serif;
  font-weight: 300;
  font-size: 0.9em;
  line-height: 18px;
  margin: 1em;
  padding: 1.5em;
  background: #303030;
  border-radius: 3px;
}
article a {
  font-family: "Major Mono Display", monospace;
  font-size: 1.3em;
}
article span {
  font-family: "Solway", serif;
  font-size: 0.9em;
}
footer {
  background: url(../img/ajax.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Major Mono Display", monospace;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  justify-items: center;
  padding: 1em;
  color: #ffffff;
}
footer img {
  width: 100%;
}
.copyright {
  font-size: 1.5em;
}
/* footer a {
  justify-self: center;
} */
@media screen and (max-width: 1200px) {
  article {
    grid-template-columns: repeat(2, 1fr);
  }
  section {
    padding: 2.5%;
  }
}
@media screen and (max-width: 800px) {
  header {
    grid-template-columns: repeat(1, 1fr);
    padding: 2% 20% 2% 20%;
  }
  header h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  article {
    grid-template-columns: 1fr;
  }
  input[type="text"] {
    margin: 1em;
  }
}
@media screen and (max-width: 500px) {
  input[type="text"] {
    margin: 0.5em;
  }
  header {
    grid-template-columns: repeat(1, 1fr);
    padding: 2% 10% 2% 10%;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.5em 0 1.5em 0;
  }
  .instagram {
    padding-left: 2.5em;
  }
  .facebook {
    padding-right: 2.5em;
  }
  .copyright {
    padding: 1em;
    font-size: 1.4em;
    grid-column: 1 / 3;
  }
}
